@model Sistema_Funcionario.Models.Funcionario

<h2>Cadastrar Funcionario</h2>

<form asp-action="Criar">
    <label for="">Nome</label>
    <input type="text" name="NomeConstrutor" class="form-control">

    <label>Salario Base</label>
    @** Step controla a quantidade de casas decimais *@
    <input type="number" name="SalarioBaseConstrutor" class="form-control" step="0.01">

    <label>Cargo</label>
    <Select name="CargoConstrutor">
        <option value="Gerente">Gerente</option>
        <option value="Vendedor">Vendedor</option>
    </Select>

    <button type="submit" class="btn btn-sucess">Salvar</button>
</form>