@model List<SistemaFuncionarioMVC.Models.Funcionario>

    <h2>Funcionarios</h2>

    <a asp-action="Criar" class = "btn btn-primary">Novo Funcionario</a>

    <table class="table mt-3">
        <tr>
            <th>Nome</th>
            <th>Cargo</th>
            <th>Salario Base</th>
            <th>Salario Final</th>
            <th>Acoes</th>
        </tr>
    </table>